In [72]:
import numpy as np
import pandas as pd
import statistics as stat
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]

In [73]:
# mean
a = np.mean(data)
print('Data mean is = ',a)

Data mean is =  46.15384615384615

In [74]:
stat.mean(data)

46.15384615384615

In [75]:
# median
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]
b = np.median(data)
print('Data median is = ',b)

Data median is =  40.0

In [76]:
stat.median(data)

40

In [77]:
# mode
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]
stat.mode(data)

40

In [78]:
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]
def data_mean(l):
  try:
    p=0
    for i in l:
      p=p+i

    return p/len(l)
  except Exception as e:
    print(e)
    print('Please give numbers in List')

In [79]:
data_mean(data)

46.15384615384615

In [80]:
data_mean(100)

'int' object is not iterable
Please give numbers in List

In [81]:
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]
def data_median(l):
  try:
    l.sort()
    if len(l) % 2 == 0:
      median_1 = l[len(l) // 2]
      median_2 = l[(len(l) // 2)-1]
      median = (median_1 + median_2)/2
    else:
      median = l[len(l) // 2]

    print('Median is : ',median)

  except Exception as e:
    print(e)
    print('Please give numbers in List')

In [82]:
data_median(data)

Median is :  40

In [83]:
data_median(100)

'int' object has no attribute 'sort'
Please give numbers in List

In [84]:
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]
def data_mode(l):
  try:
    from collections import Counter
    n = len(l)
    df = Counter(l)
    get_mode = dict(df)
    mode = [key for key,value in get_mode.items() if value == max(list(df.values()))]

    if len(mode) == n:
      get_mode = 'No mode found'
    else:
      get_mode = "Mode is : " + ' '.join(map(str, mode))

    print(get_mode)

  except Exception as e:
    print(e)
    print('Please give numbers in List')

In [1]:
data=[10,20,30,30,40,40,40,40,50,60,70,80,90]
from collections import Counter
Counter(data)

Counter({10: 1, 20: 1, 30: 2, 40: 4, 50: 1, 60: 1, 70: 1, 80: 1, 90: 1})

In [85]:
data_mode(data)

Mode is : 40

In [86]:
data_mode([100,100,20,20,20,40])

Mode is : 20

In [87]:
data_mode(100)

object of type 'int' has no len()
Please give numbers in List

In [88]:

def data_weighted(df,value,weight):
  try:
    value = df[value]
    weight = df[weight]
    return (value * weight).sum()/weight.sum()
  except Exception as e:
    print(e)

In [89]:
df = pd.DataFrame({'student_name': ['Suresh', 'Suresh',
                                        'Suresh', 'Ramesh',
                                        'Ramesh', 'Ramesh',
                                        'Homesh', 'Homesh',
                                        'Homesh'],
                          'marks': [90, 95, 86, 87, 87, 91,
                                    66, 75, 89],
                          'weight': [5, 6, 2, 7, 3, 9, 2, 1,
                                     6]})

df.groupby('student_name').apply(data_weighted,'marks','weight')

student_name
Homesh    82.333333
Ramesh    88.894737
Suresh    91.692308
dtype: float64