In [6]:
import numpy as np
import pandas as pd
from scipy.stats import stats

In [7]:
# We will use chi-square Test-square-Independence to see survival rate of Passengers is independence on Pclass
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
# Null Hypothesis (Ho) : There is no significant association between Passengers is independence on Pclass
# Alternate Hypothesis (H1) : There is significant association between Passengers is independence on Pclass

In [8]:
# create contingency table
contingency_table = pd.crosstab(df['Survived'],df['Pclass'])
contingency_table

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [14]:
from scipy.stats.contingency import chi2_contingency
# chi-square Test-square-Independence to see survival rate of Passengers is independence on Pclass
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print('chi2 statistics : {:.2f}'.format(chi2))
print('p_value :{:.2f}'.format(p_value))
print('dof :{}'.format(dof))
print('expected : \n{}'.format(expected))

chi2 statistics : 102.89
p_value :0.00
dof :2
expected :
[[133.09090909 113.37373737 302.53535354]
 [ 82.90909091  70.62626263 188.46464646]]

In [16]:
# Interpret the result
alpha = 0.05
if p_value < alpha:
  print('Reject the Null Hypothesis')
else:
  print('Accept the Null Hypothesis')

print('='*35)

Reject the Null Hypothesis
===================================