In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chisquare

In [2]:
df = pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Null Hypothesis (Ho): Pclass follows uniform distribution
# Alternate Hypothesis (H1): Pclass not follows uniform distribution

In [4]:
# observed values
class_counts = df['Pclass'].value_counts().sort_index()
class_counts

1    216
2    184
3    491
Name: Pclass, dtype: int64

In [5]:
# Expected values
total_passengers = len(df)
expected_counts = total_passengers/3
expected = [expected_counts]*3
print('Expected passengers counts (assuming uniform distribution) : ',expected)

Expected passengers counts (assuming uniform distribution) :  [297.0, 297.0, 297.0]

In [6]:
# perform the chi-square Goodness of Fit Test
chi2, p_value = chisquare(class_counts, expected)

print('chi-square statistics : {:.2f}'.format(chi2))
print('p_value : {:.4f}'.format(p_value))

print('='*35)
print()

alpha = 0.05
if p_value < alpha:
  print('Reject the Null Hypothesis')
else:
  print('Accept the Null Hypothesis')

print('='*35)

chi-square statistics : 191.80
p_value : 0.0000
===================================

Reject the Null Hypothesis
===================================